<%- include('partials/header'); -%>


<h1>Home</h1>
<p> <%= contentHome %></p>

<% newPosts.forEach((newpost)=>{ %>
    <h3> <%= newpost.title %> </h3>
    <p> <%= newpost.textarea.substring(0,100) + "...." %><a href="/posts/<%=newpost._id%>">Read More</a></p>
<% }) %>
        
<%- include('partials/footer'); -%>